body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
}
.body {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  background-color: #f7f7f7;
  background-image: url(/dotdash_Final_Forex_Identifying_Trending_And_Range-Bound_Currencies_Jul_2020-01-97a8345d8fdb48819922e852ab9ad9f4.webp);
  margin: 0;
}

.game-container {
  position: relative;
  width: 800px;
  height: 200px;
  border: 1px solid #000;
  overflow: hidden;
  background-color: white; /* Added to ensure visibility */
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#dino {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: url(/Mask\ group.png);
  background-repeat: no-repeat;
}

.cactus {
  position: absolute;
  bottom: 0;
  width: 20px;
  background: url(/Group\ 990.png);
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  a {
    color: white;
    text-decoration: none;
    font-family: "Overpass";
  }
}
.game-over {
  font-family: "Press Start 2P";
  color: #fff;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  gap: 450px;
  align-items: center;
  margin-bottom: 100px;
  a {
    background-color: rgb(17, 78, 17);
    text-decoration: none;
    color: white;
    font-family: "Overpass";
    padding: 7px 20px;
    border-radius: 10px;
  }
}
